version: "3.9"

services:
  app:
    build: .
    container_name: ev_app
    ports:
      - "8080:80" # http://localhost:8080
    volumes:
      - .:/var/www/html
    environment:
      DB_HOST: db
      DB_NAME: ev_data_marketplace
      DB_USER: evuser
      DB_PASS: evpass
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: ev_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: ev_data_marketplace
      MYSQL_USER: evuser
      MYSQL_PASSWORD: evpass
    ports:
      - "3307:3306"
    volumes:
      - ev_db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: ev_phpmyadmin
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  ev_db_data:
