version: '3.9'

services:
  mysql_gateway:
    image: mysql:8.0
    container_name: mysql_gateway
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ev_data
      MYSQL_USER: ev_user
      MYSQL_PASSWORD: ev_pass
    ports:
      - "3307:3306"  # host port 3307
    volumes:
      - ./mysql-data-gateway:/var/lib/mysql
    networks:
      - evnet

  php_gateway:
    build:
      context: ./gateway
      dockerfile: Dockerfile
    container_name: php_gateway
    volumes:
      - ./gateway/src:/var/www/html
    depends_on:
      - mysql_gateway
    networks:
      - evnet

  nginx_gateway:
    image: nginx:stable
    container_name: nginx_gateway
    ports:
      - "8000:80"
    volumes:
      - ./gateway/src:/var/www/html
      - ./gateway/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php_gateway
    networks:
      - evnet


  php_auth:
    build: ./auth-service
    container_name: ev_auth_php
    volumes:
      - ./auth-service:/var/www/html
    networks:
      - evnet

  nginx_auth:
    image: nginx:stable
    container_name: ev_auth_nginx
    ports:
      - "8001:80"
    volumes:
      - ./auth-service:/var/www/html
      - ./auth-service/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php_auth
    networks:
      - evnet

networks:
  evnet:
    driver: bridge
