services:
  gateway:
    build: ./gateway
    container_name: ev_gateway
    ports:
      - "8080:80"
    volumes:
      - ./gateway:/var/www/html
    environment:
      - DB_HOST=host.docker.internal
      - DB_USER=root
      - DB_PASS=
      - DB_NAME=ev_data_analytics_marketplace
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - ev_network

  auth-service:
    build: ./auth-service
    container_name: ev_auth_service
    ports:
      - "8081:80"
    volumes:
      - ./auth-service:/var/www/html
    environment:
      - DB_HOST=host.docker.internal
      - DB_USER=root
      - DB_PASS=
      - DB_NAME=ev_data_analytics_marketplace
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - ev_network

networks:
  ev_network:
    driver: bridge
